* {
    box-sizing: border-box;
    font-family: "Trebuchet MS";
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    
    text-align: center;
    background-color: antiquewhite;
}

.questions {
    size: 30px;
    color: green;
}

.answerBtn {
    outline: none;
    background-color: pink;
    width: 100px;
    height: 75px;
}

.container {
    width: 800px;
    max-width: 80%;
    padding: 10px;
    background-color: beige;

}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 20px;
}

.btn, .startBtnEl, .nextBtnEl {
    border: 2px solid darkgreen;
}

.btn:hover {
    border-color: black;
}

body.correct {
    --hue: var(--hue-correct);
}

.hide {
    display: none;
}