body {
    padding: 10px;
    align-content: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.answerBtn,
.answerBtn:hover,
.answerBtn:active,
.answerBtn:focus,
.answerBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: pink;
}